
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Amigos Pancho - Brasil</title>

    <link rel="icon" type="image/x-icon" href="../favicon/favicon-32x32.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        .footer {
            left: 0;
            margin-top: 12rem;
            bottom: 0;''
            width: 100%;
            background-color: white;
            color: black;
            text-align: center;
        }
    </style>
</head>
<body>

<!--Começo da navBar-->

<nav class="navbar navbar-expand-lg navbar-light bg-light w-auto p-3">
    <div class="container-fluid">
        <div style="padding-left: 10%">
            <a class="navbar-brand" href="#">
                <img src="../Imagem_Test/logo.png" style="max-height: 5rem" >
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link fw-bold" aria-current="page" href="sobre_nos.html">Sobre Nós</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link  fw-bold" href="cardapio.html">Cardápio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="contato.html">Contato</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link fw-bold active" href="enderecos.html">Endereços</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Delivery
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="https://www.ifood.com.br/delivery/porto-alegre-rs/amigo-pancho-e-muito--sao-sebastiao/b076d006-72d3-469d-bbb8-51b3c45d9b7b">Ifood</a></li>
                        <li><a class="dropdown-item" href="https://www.rappi.com.br/restaurantes/900495522-Amigo-Panchos-e-Muito-">Rappi</a></li>
                    </ul>
                </li>
                <li class="d-flex " style="margin-left: 25rem">
                    <a href="#login">
                        <button type="button" class="btn btn-outline-success btn-small btn-nav ">Login</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container px-4">
    <div class="row gx-5 position-absolute top-50 start-50 translate-middle">
        <div class="col">
            <div class="card " style="width: 18rem;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d863.7178299681443!2d-51.16998859252726!3d-30.011851090847795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519777abcc1066b%3A0x18313e27fe2d2160!2sAmigo%20Panchos!5e0!3m2!1spt-PT!2sbr!4v1650156463830!5m2!1spt-PT!2sbr" width="280" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="card-body">
                    <h5 class="card-title">Viaduto Obirici</h5>
                    <a target="_blank" href="https://www.google.com/maps/place/Amigo+Panchos/@-30.0118511,-51.1699886,19z/data=!4m18!1m12!4m11!1m3!2m2!1d-51.1703668!2d-30.0116223!1m6!1m2!1s0x9519777abcc1066b:0x18313e27fe2d2160!2samigos+pancho!2m2!1d-51.1694364!2d-30.0120931!3m4!1s0x9519777abcc1066b:0x18313e27fe2d2160!8m2!3d-30.0120931!4d-51.1694364" class="btn btn-primary" class="btn btn-primary">Ver no Google Maps</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card " style="width: 18rem;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2088.5468859533316!2d-51.1154436730511!3d-30.015102262754237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x9519773ec1ccf9e9%3A0x529a9b52a920ba0c!2samigos%20pancho%20baltazar!3m2!1d-30.015601099999998!2d-51.114669899999996!5e0!3m2!1spt-PT!2sbr!4v1650157478966!5m2!1spt-PT!2sbr" width="280" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="card-body">
                    <h5 class="card-title">Baltazar de Oliveira</h5>
                    <a target="_blank" href="https://www.google.com/maps/dir//amigos+pancho+baltazar/@-30.0153743,-51.115339,18z/data=!4m8!4m7!1m0!1m5!1m1!1s0x9519773ec1ccf9e9:0x529a9b52a920ba0c!2m2!1d-51.1146699!2d-30.0156011" class="btn btn-primary">Ver no Google Maps</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--fim da navBar-->


<!--teste-->
<!--panchos-->






<!--Footer html, css esta na tag styel-->

<div class="footer position-fixed bottom-0 start-50 translate-middle-x">
    <div class="container">
        <hr>
        <div class="row row-cols-1 row-cols-lg-5 ">
            <div class="col">
                <div class="p-3">
                    <span class="iconify" data-icon="simple-icons:ifood"></span>
                    <a style="text-decoration: none; color: red" target="_blank" href="https://www.ifood.com.br/delivery/porto-alegre-rs/amigo-pancho-e-muito--sao-sebastiao/b076d006-72d3-469d-bbb8-51b3c45d9b7b">
                        Ifood
                    </a>
                </div>
            </div>
            <div class=" col">
                <div class="p-3">
                    <span class="iconify" data-icon="arcticons:rappi"></span>
                    <a style="text-decoration: none; color: orangered" target="_blank" href="https://www.rappi.com.br/restaurantes/900495522-Amigo-Panchos-e-Muito-">
                        Rappi
                    </a>
                </div>
            </div>
            <div class=" col">
                <div class="p-3">
                    <span class="iconify" data-icon="akar-icons:instagram-fill"></span>
                    <a style="text-decoration: none; color: purple" target="_blank" href="https://www.instagram.com/amigopanchos/">
                        Instagram
                    </a>
                </div>
            </div>
            <div class=" col">
                <div class="p-3">
                    <span class="iconify" data-icon="akar-icons:whatsapp-fill"></span>
                    <a style="text-decoration: none; color: #006519" target="_blank" href="https://api.whatsapp.com/send?phone=555185249188&text=Boa%20noite!%20Gostaria%20de%20saber%20se%20ainda%20est%C3%A3o%20abertos.">
                        WhatsApp
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="p-3">&copy;Amigos Pancho 2022</div>
            </div>

        </div>
    </div>
</div>


<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

<!--fim do footer-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>




</body>
</html>