{% load static %}


<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center " style="background-color: rgb(255,255,255); ">
        <div class="d-flex justify-content-around" >
            <div>
                <span class="iconify" data-icon="simple-icons:ifood"></span>
            <a style="text-decoration: none; color: red" target="_blank"
               href="https://www.ifood.com.br/delivery/porto-alegre-rs/amigo-panchos-e-muito-mais-costa-e-silva/5c4b4b91-5004-43b7-ba6e-9cc2997bf540">
                Ifood
            </a>

            </div>
<div>
    <span class="iconify" data-icon="arcticons:rappi"></span>
            <a style="text-decoration: none; color: orangered" target="_blank"
               href="https://www.rappi.com.br/restaurantes/900495522-Amigo-Panchos-e-Muito-">
                Rappi
            </a>
</div>
            <div>
                <span class="iconify" data-icon="akar-icons:instagram-fill"></span>
            <a style="text-decoration: none; color: purple" target="_blank"
               href="https://www.instagram.com/amigopanchos/">
                Instagram
            </a>
            </div>
            <div>
                <span class="iconify" data-icon="akar-icons:whatsapp-fill"></span>
            <a style="text-decoration: none; color: #006519" target="_blank"
               href="https://api.whatsapp.com/send?phone=555185249188&text=Boa%20noite!%20Gostaria%20de%20receber%20o%20card%C3%A1pio.">
                WhatsApp
            </a>
            </div>
            <div>
                            &copy;Amigos Pancho 2022

            </div>

        </div>


    </div>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

    <!-- Copyright -->
</footer>
