{% include 'partials/head.html' %}

<body class="d-flex flex-column min-vh-100">

<!--Começo da navBar-->

{% include 'partials/navbar.html' %}

<!--fim da navBar-->


<div class="card mb-3 w-75" style="max-width: 80%; margin-left: 13%">
    <div class="row g-0">
        <div class="col-md-4">
            {% for sobre in sobre %}
                <img style="max-width: 100%; height: auto" src="{{ sobre.foto.url }}"
                     class="card-img-top"
                     alt="...">
            {% endfor %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Amigos Pancho</h5>
                <p class="card-text">Gostoso porque é feito com amor!</p>
                {% for sobre in sobre %}
                    <p class="card-text">{{ sobre.descricao }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


    <div class="card text-center fixed-bottom" style="">
{% include 'partials/footer.html' %}


<!--fim do footer-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>
</html>